<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="tropi-card-front">
        <ng-content select="[tropiCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="tropi-card-back">
        <ng-content select="[tropiCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="tropi-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[tropiCardExpansion]"></ng-content>
    </div>

</ng-container>
